body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(134, 134, 134, 0.177);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}


.heading{
    text-align: center;
    font-weight: 500;
}

